@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 

---- TYPOGRAPHY ----
- FONT SIZES
  12px - 20px - 24px - 32px - 40px - 48px - 62px

- FONT WEIGHT
  400 (normal) - 700 (bold)

- LINE HEIGHT
  1.2 - 1.5

- LETTER SPACING 
  -2px - 0px

- FONT FAMILY
  Poppins,sans-serif

---- COLORS ----
- PRIMARY
  BASE  : #339af0 (Sky Blue)
  TINT  : #d0ebff (Arctic)
  SHADE : #1c7ed6 (Deep Sea)

- SECONDARY
  BASE  : #9775fa (Lavender)
  TINT  : #e5dbff (Moonlight Iris)
  SHADE : #7048e8 (Velvet Night)

- TERTIARY
  BASE  : #ff922b (Pumpkin)
  TINT  : #ffe8cc (Dawn)
  SHADE : #f76707 (Lava)

- GREY
  BASE  : #495057 (Slate)
  TINT  : #f1f3f5 (Pebble)
  SHADE : #212529 (Graphite)

  WHITE : #fff
  BLACK : #000

---- BORDER-RADUIS ----
  4px / 8px / 20px

---- SPACING SYSTEM ----
5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 3

*/

/* ------ GLOBAL STYLES ------ */
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #495057;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    width: 90%;
    height: ;
    min-height: ;
    margin: 0 auto;
}

h1,h2,h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    color: #212529;
}

h1 {
    font-size: 6.2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
}

span {
    display: inline-block;
}

ul {
    list-style: none;
}

/* ------ COMPONENTS ------ */

.small-text {
    font-size: 1.2rem;
}

.btn {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 0.8rem;
}

.btn-primary:link,.btn-primary:visited {
    background-color: #339af0;
    border: 0.2rem solid #339af0;
    color: #fff;
}

.btn-outline-primary:link,.btn-outline-primary:visited {
    background-color: #fff;
    border: 0.2rem solid #339af0;
    color: #339af0;
}

.btn-primary:hover,.btn-primary:active {
    background-color: #1c7ed6;
    border: 0.2rem solid #1c7ed6;
    color: #fff;
}

.btn-outline-primary:hover,.btn-outline-primary:active {
    background-color: #339af0;
    border: 0.2rem solid #339af0;
    color: #fff;
}

.btn-secondary:link,.btn-secondary:visited {
    background-color: #9775fa;
    border: 0.2rem solid #9775fa;
    color: #fff;
}

.btn-secondary:hover,.btn-secondary:active {
    background-color: #7048e8;
    border: 0.2rem solid #7048e8;
    color: #fff;
}

.highlight {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.highlight-primary {
    background-color: #1c7ed6;
}

.highlight-secondary {
    background-color: #9775fa;
}

.highlight-tertiary {
    background-color: #ff922b;
}

.logo-md {
    width: 100px;
}

.logo-sm {
    width: 80px;
}

/* ------ SECTION ------ */

/* ------ HEADER ------ */

.header {
    height: 100vh;
    min-height: 800px;
}

/* ------ NAVBAR ------ */

.navbar {
    margin-bottom: 20rem;
}

/* ------ HERO SECTION ------ */

.hero-section {
    text-align: center;
    margin-bottom: 30rem;
} 

.hero-heading {
    margin-bottom: 1rem;
}

.hero-paragraph {
    margin-bottom: 10rem;
}

/* ------ FEATURES SECTION ------ */

.features-section {
    max-width: 400px;
    width: 100%;
    
}

/* ------ CTA SECTION ------ */

/*
.cta-section {
}
*/
.cta-section {
    margin-bottom: 30rem;
}

.cta-card {
    text-align: center;
    background-color: #1c7ed6;
    max-width: 1000px;
    padding: 10rem 20rem;
    border-radius: 2rem;
    margin: 0 auto;
}

.cta-heading {
    margin-bottom: 3rem;
}

/* ------ FOOTER ------ */
.footer {
    text-align: center;
}

/* ------ FEATURES SECTION ------ */

.features-main-section {
    margin-bottom: 30rem;
}

.features-headings {
    margin-bottom: 2rem;
}

.features-main-heading {
    text-align: center;
    margin-bottom: 8rem;
}

.social-section {
  width: 20px;
}
